:root{
  font-family: sans-serif;
}

body, ul{
  margin: 0;
  padding: 0;
}

ul > li{
  list-style: none;
}

.alphabetical-nav{
  display: flex;
  justify-content: space-around;
  color: gray;
  font-weight: 600;
}

.alphabetical-nav > li{
  cursor: pointer;
}