:root{
  font-family: sans-serif;
}

body, ul{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
}

ul > li{
  list-style: none;
}

.alphabetical-nav{
  display: flex;
  justify-content: space-around;
  
}

.active-letter{
  font-weight: 600;
  cursor: pointer;
}

.unactive-letter{
  color: gray;
  cursor: default;
}